{% extends 'main.html' %}

{% load static %}

{% block export_data %}

    <div class="container text-center pt-5">
        <div style="margin-top: 15px">
            <p>
                Una vez exportados los datos podrás analizarlos <a href="http://mallba3.lcc.uma.es:3701/">aquí</a>
            <p/>
        </div>
        <h3>Exportar datos de una sesión (CSV)</h3>
        <form action="generate_csv/" method="post" style="margin-top: 15px">
            <select name="sesiones" id="sessionList" style="text-align: center">
                <option value="">Seleccione una sesión</option>
                {% if sessions %}
                    {% for session in sessions %}
                        <option value="{{ session.id }}">{{ session.id }}</option>
                    {% endfor %}
                    <br>
                    <input type="button" id="select_all" value="Select All" style="margin-left: 15px"/>
                    <input type="button" id="reset" value="Deselect All"/>
                    </body>
                {% endif %}
            </select>

            <br>
            <div style="margin-top: 15px">
                <p style="font-size: small">
                    La cantidad de sensores que aparezcan dependera de la sesión elegida
                </p>
            </div>


            <!-- style="display: flex; flex-direction: column; width: 40%; margin: auto; align-items: flex-start;"-->

            <div class="form-check" id="sensorList"
                 style="display: flex; flex-direction: column; width: 40%;
                 margin: auto; margin-top: 20px; align-items: flex-start;">

            </div>
            <button type="submit" class="btn btn-primary" id="generarCSV" style="margin-top: 10px">
                Generar CSV
            </button>
        </form>
        <hr>

        <h3>Exportar 1 sensor de varias sesiones (CSV)</h3>
        <form action="generate_csv_multiple_sessions/" method="post" style="margin-top: 15px">
            <select name="sensores" id="sensorList2" style="text-align: center">
                <option value="">Seleccione un sensor</option>
                {% if sensors %}
                    {% for sensor in sensors %}
                        <option value="{{ sensor.id }}">{{ sensor.user_full_name }}</option>
                    {% endfor %}
                    <br>
                    <input type="button" id="select_all2" value="Select All" style="margin-left: 15px"/>
                    <input type="button" id="reset2" value="Deselect All"/>
                {% endif %}
            </select>

            <br>

            <div style="margin-top: 15px">
                <p style="font-size: small">
                    Seleccione el sensor que desea obtener de varias sesiones distintas
                </p>
            </div>


            <!-- style="display: flex; flex-direction: column; width: 40%; margin: auto; align-items: flex-start;"-->

            <div class="form-check" id="sessionList2"
                 style="display: flex; flex-direction: column; width: 40%;
                 margin: auto; margin-top: 20px; align-items: flex-start;">

            </div>
            <button type="submit" class="btn btn-primary" id="generarCSV2" style="margin-top: 10px">
                Generar CSV
            </button>
        </form>
        <hr>
        <h3>Exportar resumen de todas las sesiones (CSV)</h3>
        <a href="{% url 'download_summary_all_sessions' %}" class="btn btn-primary" role="button">Exportar</a>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $("#select_all").hide()
        $("#reset").hide()
        $("#select_all2").hide()
        $("#reset2").hide()
        $("#generarCSV").hide()
        $("#generarCSV2").hide()
        var sessionSelected = ""

        $("#select_all").click(function () {
            $('input[type="checkbox"]').each(function () {
                this.checked = true;
            });
        })

        $("#reset").click(function () {
            $('input[type="checkbox"]').each(function () {
                this.checked = false;
            });
        })

        $("#select_all2").click(function () {
            $('input[type="checkbox"]').each(function () {
                this.checked = true;
            });
        })

        $("#reset2").click(function () {
            $('input[type="checkbox"]').each(function () {
                this.checked = false;
            });
        })

        $("#sessionList").change(function () {
            sessionSelected = this.value
            if (sessionSelected === "") {
                $("#sensorList").empty()
                $("#generarCSV").hide()
                $("#select_all").hide()
                $("#reset").hide()
            } else {
                $.ajax({
                    type: "get",
                    url: "/sensor_from_session/" + this.value,
                    dataType: "json",
                    success: function (data) {
                        // console.info(data);
                        let sensorOptions = ""
                        data = data.sensors
                        for (let i = 0; i < data.length; i++) {
                            sensorOptions += "<label class='form-check-input' style='font-weight: normal'><input name='sensor_" + i + "' class='form-check-input' type='checkbox' value='" + data[i][0] + "'>  " + data[i][1] + "</label>";
                        }
                        // console.log(sensorOptions)
                        $("#sensorList").html(sensorOptions)
                    }
                })
                if ($("#generarCSV").is(":hidden")) {
                    $("#generarCSV").show()
                }
                if ($("#select_all").is(":hidden")) {
                    $("#select_all").show()
                }
                if ($("#reset").is(":hidden")) {
                    $("#reset").show()
                }
            }
        })
        /*
        $("#generarCSV").click(function () {
            let idsCheckeds = []
            $("#sensorList input:checked").each(function () {
                idsCheckeds.push(parseInt(this.defaultValue))
                // console.log(this.defaultValue)
            })

            $.ajax({
                type: 'post',
                url: '/generate_csv/',
                data: JSON.stringify({'idSession': sessionSelected, 'idSensors': idsCheckeds}),
                dataType: "json",
                contentType: "application/json, text/csv; charset=utf-8",
                cache: false,
                responseType: 'blob',
                // crossDomain: true,

                //contentType: false,
                //processData: false,
            }).done(function (response) {
                console.log('SUCCESS')
                console.log(response)
                // df = new dfd.DataFrame(response)
                //df.print()
            });
            // return false;
        })
        */
        $("#sensorList2").change(function () {
            sensorSelected = this.value
            if (sensorSelected === "") {
                $("#sessionList2").empty()
                $("#generarCSV2").hide()
                $("#select_all2").hide()
                $("#reset2").hide()
            } else {
                $.ajax({
                    type: "get",
                    url: "/session_from_sensor/" + this.value,
                    dataType: "json",
                    success: function (data) {
                        let sessionOptions = ""
                        data = data.sessions
                        for (let i = 0; i < data.length; i++) {
                            sessionOptions +=
                                "<label class='form-check-input' style='font-weight: normal'>" +
                                "<input name='session_" + i + "' class='form-check-input' type='checkbox' value='" +
                                data[i].log_id + "'>  Session " + data[i].log_id + ' | ' + data[i].log__email + ' | ' +
                                data[i].log__session + "</label>";
                        }
                        $("#sessionList2").html(sessionOptions)
                    }
                })
                if ($("#generarCSV2").is(":hidden")) {
                    $("#generarCSV2").show()
                }
                if ($("#select_all2").is(":hidden")) {
                    $("#select_all2").show()
                }
                if ($("#reset2").is(":hidden")) {
                    $("#reset2").show()
                }
            }
        })
    </script>

{% endblock %}

