{% extends 'main.html' %}
{% load static %}

{% block routes %}

    {% if route %}
        <div class="container-fluid" style="width: 90%; margin-top: 10px;">
            <div class="row">
                <h3>Ruta</h3>
                {{ route }}
            </div>
        </div>

        <div class="container-fluid" style="width: 90%; margin-top: 10px;">
            <div class="row">
                {% if not similar_routes %}

                    <h3>No se han encontrado rutas similares</h3>

                {% else %}

                    <h3>Rutas similares</h3>

                    {% for key, value in similar_routes.items %}
                        <ul>
                            <li>
                                <a href="{% url 'session_map' session_id=key.id %}">Ruta {{ key.id }}</a> -
                                Similitud: <b> {{ value.1 }} % </b> - Coinciden <b> {{ value.2 }}
                                calles </b>- {{ value.0 }}
                            </li>
                        </ul>
                    {% endfor %}

                {% endif %}
            </div>
        </div>

    {% endif %}
{% endblock %}