{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Lista de sesiones</title>
    </head>

    <body>
    {% block content %}
        {% csrf_token %}
        <h1>Session List</h1>
        <ul>
            {% for session in sessions%}
                <li>
                   <a href="{% url 'session_map' session.id %}">
                       {{ session.email }} - {{ session.session }}
                   </a>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
    </body>
</html>