{% extends 'main.html' %}

{% load static %}

{% block sessions_classified %}
    <div class="container-fluid" style="width: 100%; margin-top: 10px;  text-align: center">
        <h3>Resumen de sesiones por tipo</h3>

        {% for key,value in dictionary.items %}
            <b>Sessiones tipo {{ key }}</b><br>
            <br>
            {% if value.0 %}
                velocidad media: {{ value.0 }} km/h<br>
            {% endif %}

            {% if value.1 %}
                contaminación media: {{ value.1 }} g/km<br>
            {% endif %}

            {% if value.2 %}
                distancia media: {{ value.2 }} km<br>
            {% endif %}

            {% if  value.3 %}
                duracion media: {{ value.3 }}<br>
            {% endif %}

            {% if value.4 %}
                número de paradas: {{ value.4 }}<br>
            {% endif %}

            {% if value.5 %}
                número de caladas: {{ value.5 }}<br>
            {% endif %}

            {% if  value.6 %}
                autovia: {{ value.6 }} %<br>
            {% endif %}

            {% if  value.7 %}
                ciudad: {{ value.7 }} %<br>
            {% endif %}

            {% if value.8 %}
                idle: {{ value.8 }} %<br>
            {% endif %}

            <br>
        {% endfor %}
        <br>
        <h3>Lista de sesiones por tipo</h3>
        {% for type, sessions in session_list.items %}
            <b>Sesiones tipo {{ type }}</b><br>
            <br>

            {{ sessions }}<br>

            <br>
        {% endfor %}

    </div>
{% endblock %}

