{% extends 'main.html' %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <title>Lista de sesiones</title>
    </head>

    <body>
    {% block content %}
        {% csrf_token %}
        <h1>Session List</h1>
        <ul>
            {% for session in sessions%}
                <li>
                   <p><a href="{% url 'session_map' session.id %}">
                       {{ session.id }} -
                       {% if not session.email %}
                           No_Email
                       {% else %}
                           {{ session.email }}
                       {% endif %}
                        -
                       {% if not session.session %}
                           No_Date_Session
                       {% else %}
                           {{ session.session }}
                       {% endif %}
                   </a></p>
                </li>
            {% endfor %}
        </ul>
    {% endblock %}
    </body>
</html>